<header>

    <div class="container">
        <a href="/">
            <div class="logo">
                <h1>Menu Digital</h1>
                <h2>SZ Sistemas</h2>
            </div>
        </a>

       <span></span>

        <nav class="primary">
            <ul>
                <li class="dropdown-container">
                    <a href="/accounts">
                        <i class="material-icons">account_circle</i>
                        Minha Conta
                    </a>
                    {%if session.userId %}
                    <ul class="dropdown">
                        <li>
                            <a href="/users">Minha conta</a>
                        </li>
                        <li>
                            <a href="/orders">Meus pedidos</a>
                        </li>        
                        <li>
                            <form action="/users/logout" method="POST">
                                <button>Sair</button>
                            </form>
                        </li>
                    </ul>
                    {%endif%}
                </li>
                <li class="cart">
                    <a href="/cart">
                        <i class="material-icons mi-cart">shopping_cart</i>
                        {%if (session.cart) and (session.cart.total.quantity > 0 ) %}
                            <span id="cart-status-info">{{session.cart.total.quantity}}</span>
                        {%endif%}
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</header>