{% macro products(name, classes, products) %}


<section class="shop {{classes}}">

    {% if name %}
        <h2>{{name}}</h2>
    {% endif %}

<div class="cardsres">
    
        {%for product in products%}
            <div class="cardres">
               
               <div class="cardres__image-container">
                <img src="{{product.files[0].src}}" alt="{{product.files[0].name}}">
               </div>  
               
                {%if product.formattedOldPrice != product.formattedPrice%}
                    <div class="old-price">{{product.formattedOldPrice}}</div>
                {%endif%}
               
                <p>{{product.formattedPrice}}</p>
                <h4>{{product.name}}</h4>

              <!--  <a href="/products/{{product.id}}" class="button">Ver Produto</a> -->
              
                <div class="buy">
                        <form action="/cart/{{product.id}}/add-one" method="POST">
                            <button class="button">Adicionar ao Carrinho</button>
                        </form>          
                </div>  
            
            </div>
        {%endfor%}
    </div>
</section>


<!--
    <div class="items">
    
        {%for product in products%}
            <div class="product">

               <div class="image">
                <img src="{{product.files[0].src}}" alt="{{product.files[0].name}}">
               </div>  
                {%if product.formattedOldPrice != product.formattedPrice%}
                    <div class="old-price">{{product.formattedOldPrice}}</div>
                {%endif%}
                <p>{{product.formattedPrice}}</p>
                <h4>{{product.name}}</h4>

                <a href="/products/{{product.id}}" class="button">Ver Produto</a>
            
            </div>
        {%endfor%}
    </div>
</section>
-->
{% endmacro %}